{% extends 'base.html' %}

{% block body %}

<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="/static/styles.css">
    <title>Jobs Ahoy.</title>
  </head>
  
  <body>
    <body background="/static/money.jpeg">
    <div class="main">

        <h1>Jobs Ahoy.</h1>

        <p class="lead">The place to go when you need a job.</p>
    </div>
    <div class = "apply">
        <a href="/application-form" class="apply"><img src="/static/apply_now.png"></a>
    </div>
  </div>
      <footer>
      <p>Copyright Jobs Ahoy 2017. All Rights Reserved.</p>
    </footer>

</body>
</html>
{% endblock %}

